[Desktop Entry]
Type=Application
Name=Privos Willkommen
Name[en]=Welcome to Privos
Exec=/usr/bin/privos-live-welcome
Icon=privos-logo
OnlyShowIn=GNOME;
X-GNOME-Autostart-Delay=3
